Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability

haha
  pkg/github/sso.go
Owners: @abcxyz/go-readability

haha
  pkg/github/sso.go
Owners: @abcxyz/go-readability

haha
  pkg/github/sso.go
Owners: @abcxyz/go-readability

update
  pkg/github/client.go
  pkg/github/sso.go
Owners: @abcxyz/go-readability

Add require_user_enable_sso to github proto
  .github/minty.yaml
  apis/v1alpha3/proto/config.pb.go
  apis/v1alpha3/proto/group.pb.go
  apis/v1alpha3/proto/mapping.pb.go
  pkg/common/sync.go
  pkg/common/writer.go
  pkg/common/writer_test.go
  pkg/github/client.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
  proto/group.proto
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix lint
  pkg/common/writer_test.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Add require_user_enable_sso to github proto (#112)
  .github/minty.yaml
  apis/v1alpha3/proto/config.pb.go
  apis/v1alpha3/proto/group.pb.go
  apis/v1alpha3/proto/mapping.pb.go
  pkg/common/sync.go
  pkg/common/writer.go
  pkg/common/writer_test.go
  pkg/github/client.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
  proto/group.proto
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Update to Go 1.24 and all deps
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update to Go 1.24 and all deps (#113)
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Fix linting errors
  pkg/common/googlegroup_github/mapper_test.go
  pkg/github/teamreadwriter_test.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/util_test.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability

Fix linting errors (#114)
  pkg/common/googlegroup_github/mapper_test.go
  pkg/github/teamreadwriter_test.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/util_test.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability

Add or update ignore files
  .dockerignore
  .gcloudignore
  .github/workflows/sync.yml
  .gitignore
Owners: @abcxyz/infrastructure-team

Add or update ignore files (#115)
  .dockerignore
  .gcloudignore
  .github/workflows/sync.yml
  .gitignore
Owners: @abcxyz/infrastructure-team

Support different access levels for GitLab groups
  pkg/gitlab/access_level.go
  pkg/gitlab/groupreadwriter.go
Owners: @abcxyz/go-readability

godoc comments
  pkg/gitlab/access_level.go
  pkg/gitlab/groupreadwriter.go
Owners: @abcxyz/go-readability

more godoc
  pkg/gitlab/groupreadwriter.go
Owners: @abcxyz/go-readability

Support different access levels for GitLab groups (#116)
  pkg/gitlab/access_level.go
  pkg/gitlab/groupreadwriter.go
Owners: @abcxyz/go-readability

create release worflow and goreleaser config
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @abcxyz/infrastructure-team

feat: create release worflow and goreleaser config (#117)
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @abcxyz/infrastructure-team

update minty to allow create tag
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

add create_tag workflow
  .github/workflows/create-tag.yml
Owners: @abcxyz/infrastructure-team

update minty to allow create tag (#118)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

add create_tag workflow (#119)
  .github/workflows/create-tag.yml
Owners: @abcxyz/infrastructure-team

add workflow_call trigger to ci workflow
  .github/workflows/ci.yml
Owners: @abcxyz/infrastructure-team

fix: add workflow_call trigger to ci workflow (#120)
  .github/workflows/ci.yml
Owners: @abcxyz/infrastructure-team

add env to require approval when releasing
  .github/workflows/release.yml
Owners: @abcxyz/infrastructure-team

fix: add env to require approval when releasing (#121)
  .github/workflows/release.yml
Owners: @abcxyz/infrastructure-team

feat: add SSO support for github
  go.mod
  go.sum
  pkg/github/client.go
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

update
  pkg/github/sso.go
Owners: @abcxyz/go-readability

update go.mod
  go.mod
Owners: @abcxyz/infrastructure-team

lint
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Calculate access level in groups for gitlab users based on metadata included in the group mappings
  pkg/common/googlegroup_github/mapper.go
  pkg/gitlab/access_level.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

feat: add SSO support for github (#122)
  go.mod
  go.sum
  pkg/github/client.go
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

feat: update readme
  README.md
  docs/assests/tl-arch.jpg
Owners: @abcxyz/infrastructure-team

Update README.md
  README.md
Owners: @abcxyz/infrastructure-team

feat: update readme (#124)
  README.md
  docs/assests/tl-arch.jpg
Owners: @abcxyz/infrastructure-team

Calculate access level for gitlab users (#123)
  pkg/common/googlegroup_github/mapper.go
  pkg/gitlab/access_level.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

fix: refactor SSO functions to accept httpclient
  pkg/github/client.go
  pkg/github/sso.go
Owners: @abcxyz/go-readability

fix: refactor SSO functions to accept httpclient (#125)
  pkg/github/client.go
  pkg/github/sso.go
Owners: @abcxyz/go-readability

test
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability
