Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability

feat: update readme
  README.md
Owners: @abcxyz/infrastructure-team

update
  README.md
Owners: @abcxyz/infrastructure-team

feat: update readme (#100)
  README.md
Owners: @abcxyz/infrastructure-team

Update minty config to allow calling on non-main branch
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Update minty config to allow calling on non-main branch (#101)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Revert "Update minty config to allow calling on non-main branch (#101)"
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Revert "Update minty config to allow calling on non-main branch" (#103)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Remove shadowed loop variables
  pkg/common/googlegroup_github/mapper_test.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability

Remove shadowed loop variables (#104)
  pkg/common/googlegroup_github/mapper_test.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability

Update all deps
  .github/workflows/sync.yml
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update all deps (#105)
  .github/workflows/sync.yml
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

update minty rule to allow dev
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

update
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

chore: upgrade GitHub app code to latest version from pkg
  go.mod
  go.sum
  pkg/github/tokensource.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: upgrade GitHub app code to latest version from pkg (#107)
  go.mod
  go.sum
  pkg/github/tokensource.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

address comments
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

lint
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

feat: update github config proto to include enfore_sso
  apis/v1alpha3/proto/config.pb.go
  apis/v1alpha3/proto/group.pb.go
  apis/v1alpha3/proto/mapping.pb.go
  pkg/common/writer.go
  pkg/github/client.go
  pkg/github/teamreadwriter.go
  proto/config.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

lint
  pkg/github/client.go
Owners: @abcxyz/go-readability

Update github readwriter to handle SSO info
  pkg/common/sync.go
  pkg/common/writer.go
  pkg/github/client.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

chore: upgrade to version 1.3.1 of pkg
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

chore: upgrade to version 1.3.1 of pkg (#110)
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

update minty rule to allow dev (#106)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

add comment
  apis/v1alpha3/proto/config.pb.go
  proto/config.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

address comments
  pkg/github/client.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

fix: fix minty permissions
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

fix: fix minty permissions (#111)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

I am dumb
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update workflow
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

test sso
  .github/workflows/sync.yml
  go.mod
  go.sum
  pkg/github/client.go
  pkg/github/sso.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

update
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

update permission
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

one more
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  pkg/github/sso.go
Owners: @abcxyz/go-readability

one more
  pkg/github/sso.go
Owners: @abcxyz/go-readability

one more
  pkg/github/sso.go
Owners: @abcxyz/go-readability

one one more
  pkg/github/sso.go
Owners: @abcxyz/go-readability

one moreeeee
  pkg/github/sso.go
Owners: @abcxyz/go-readability

haha
  pkg/github/sso.go
Owners: @abcxyz/go-readability

haha
  pkg/github/sso.go
Owners: @abcxyz/go-readability
