Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

refactor to use cache for saml identity'
  pkg/github/client.go
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

lint
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

add endpoint to github readWriter, create graphQL client only when needed
  pkg/github/client.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

lint
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

address comment
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

update
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

update
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

update
  pkg/github/client.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

update
  pkg/github/client.go
Owners: @abcxyz/go-readability

Refactor to use cache for SAML identity (#127)
  pkg/github/client.go
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

Update from mint-token to minty action
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

delint
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

Update from mint-token to minty action (#131)
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

chore: update from pkg to actions repo
  .github/workflows/ci.yml
  .github/workflows/create-tag.yml
Owners: @abcxyz/infrastructure-team

chore: use new actions repo (#132)
  .github/workflows/ci.yml
  .github/workflows/create-tag.yml
Owners: @abcxyz/infrastructure-team

chore: temporariliy add new temp-lint.yml
  .github/workflows/temp-lint.yml
Owners: @abcxyz/infrastructure-team

fix: update minty for move of create-tag to actions repo
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

fix: update minty for move of create-tag to actions repo (#135)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

fix: flag to stop inviting non org members to org
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

chore: bump go-github version
  go.mod
  go.sum
  pkg/github/client.go
  pkg/github/pagination.go
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: bump go-github version (#137)
  go.mod
  go.sum
  pkg/github/client.go
  pkg/github/pagination.go
  pkg/github/sso.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

feat: new mapper interface and metadata struct
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/util.go
Owners: @abcxyz/go-readability

keep just the interface
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/util.go
Owners: @abcxyz/go-readability

feat: new one to one mapper interface (#138)
  pkg/groupsync/groups.go
Owners: @abcxyz/go-readability

chore: move reusable code to util files
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/testutil.go
  pkg/groupsync/util.go
Owners: @abcxyz/go-readability

chore: move reusable code to util files (#139)
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/testutil.go
  pkg/groupsync/util.go
Owners: @abcxyz/go-readability

chore: cleanup syncer unit tests and add a test util for 1-1 mapper
  go.mod
  go.sum
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

remove unused utils
  pkg/groupsync/testutil.go
Owners: @abcxyz/go-readability

rename vars
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

fix format
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

remove unecessary log
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

remove unnecessary type
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

chore: cleanup syncer unit tests (#140)
  go.mod
  go.sum
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

GitHub Org Membership Read/Writer
  pkg/github/orgreadwriter.go
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Unit tests for OrgMembershipReadWriter
  pkg/github/orgreadwriter_test.go
  pkg/github/teamreadwriter_test.go
  pkg/github/test_fakes.go
Owners: @abcxyz/go-readability

feat: many to one syncer
  pkg/groupsync/groups.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/go-readability

fix lint
  pkg/groupsync/groups.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/go-readability

feat: many to one syncer (#142)
  pkg/groupsync/groups.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/go-readability

handle pending invites; refactor configs; handle role changes
  pkg/github/metadata.go
  pkg/github/orgreadwriter.go
  pkg/github/orgreadwriter_test.go
  pkg/github/teamreadwriter.go
  pkg/github/test_fakes.go
Owners: @abcxyz/go-readability

rename files
  pkg/github/orgmembershipreadwriter.go
  pkg/github/orgmembershipreadwriter_test.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability
