Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability

fix lint
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix missing github user login in invitation
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix missing github user login in invitation (#21)
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

feat: add dryrun flag in synchronizer
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer.go
Owners: @abcxyz/go-readability

feat: add dryrun flag in synchronizer (#22)
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

feat: add team mapping proto
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: add team mapping proto (#25)
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: support multiple orgs
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix lint
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

feat: support multiple orgs (#26)
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

use the latest github app client with cached installations
  go.mod
  go.sum
  pkg/github/synchronizer.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: use the latest github app client with cached installations (#29)
  go.mod
  go.sum
  pkg/github/synchronizer.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Add .gitignore file
  .gitignore
Owners: @abcxyz/infrastructure-team

Add .gitignore file (#32)
  .gitignore
Owners: @abcxyz/infrastructure-team

Make paginated GitHub API call generic
  pkg/github/paging.go
  pkg/github/synchronizer.go
  pkg/paging/paging.go
  pkg/paging/paging_test.go
Owners: @abcxyz/go-readability

Demonstrate pagination
  pkg/github/pagination.go
  pkg/github/synchronizer.go
Owners: @abcxyz/go-readability

Drop generics
  pkg/github/pagination.go
  pkg/github/synchronizer.go
Owners: @abcxyz/go-readability

Add pagination helper (#34)
  pkg/github/pagination.go
  pkg/github/synchronizer.go
Owners: @abcxyz/go-readability

Make `SourceEvent.team_id` a string
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Make `SourceEvent.team_id` a string (#35)
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix typo and account for `resp` being `nil`
  pkg/github/pagination.go
Owners: @abcxyz/go-readability

fix typo and account for `resp` being `nil` (#36)
  pkg/github/pagination.go
Owners: @abcxyz/go-readability

Migrate internal general code to GitHub
  apis/v1alpha2/interface.go
  apis/v1alpha2/team_link.pb.go
  apis/v1alpha2/v1alpha2.go
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  pkg/teamlink/syncher.go
  pkg/teamlink/syncher_test.go
  pkg/teamlink/teamlink.go
  pkg/teamlink/teamlink_test.go
Owners: @abcxyz/go-readability

Migrate internal general code to GitHub (#37)
  apis/v1alpha2/interface.go
  apis/v1alpha2/team_link.pb.go
  apis/v1alpha2/v1alpha2.go
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  pkg/teamlink/syncher.go
  pkg/teamlink/syncher_test.go
  pkg/teamlink/teamlink.go
  pkg/teamlink/teamlink_test.go
Owners: @abcxyz/go-readability

add v1alpha2 proto
  apis/v1alpha2/team_link.pb.go
  apis/v1alpha2/v1alpha2.go
  protos/v1alpha2/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix go_import
  apis/v1alpha2/team_link.pb.go
  protos/v1alpha2/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

add v1alpha2 proto (#38)
  apis/v1alpha2/team_link.pb.go
  apis/v1alpha2/v1alpha2.go
  protos/v1alpha2/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Remove `v1alpah1` package now that we have migrated to `v1alpah2`
  apis/v1alpha1/interface.go
  apis/v1alpha1/team_link.pb.go
  apis/v1alpha1/v1alpha1.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Remove `v1alpha1` package now that we have migrated to `v1alpha2` (#39)
  apis/v1alpha1/interface.go
  apis/v1alpha1/team_link.pb.go
  apis/v1alpha1/v1alpha1.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Alias API package in case we need to change it in the future
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  pkg/teamlink/syncher.go
  pkg/teamlink/syncher_test.go
  pkg/teamlink/teamlink.go
  pkg/teamlink/teamlink_test.go
Owners: @abcxyz/go-readability

Alias API package in case we need to change it in the future (#40)
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  pkg/teamlink/syncher.go
  pkg/teamlink/syncher_test.go
  pkg/teamlink/teamlink.go
  pkg/teamlink/teamlink_test.go
Owners: @abcxyz/go-readability

Add `v1alpha3` package
  apis/v1alpha3/interface.go
Owners: @abcxyz/go-readability

Add `v1alpha3` package (#41)
  apis/v1alpha3/interface.go
Owners: @abcxyz/go-readability

Add Many to Many GroupSyncer
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

update interface names
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

add TODO for async batch sync
  pkg/groupsync/manytomanysyncer.go
Owners: @abcxyz/go-readability

update doc comments
  pkg/groupsync/groups.go
Owners: @abcxyz/go-readability

Add Many to Many GroupSyncer (#42)
  pkg/groupsync/groups.go
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

Add `GroupReadWriter` implementation for GitHub
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
  pkg/github/tokensource.go
Owners: @abcxyz/go-readability
