Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

team link event definitions
  .github/workflows/ci.yml
  apis/v1alpha1/team_link.pb.go
  apis/v1alpha1/v1alpha1.go
  go.mod
  go.sum
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix go version and ci triggers
  .github/workflows/ci.yml
  go.mod
Owners: @abcxyz/infrastructure-team

fix proto field names
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: interface exposed externally
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

add more documentation
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

fix interface method naming
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

feat: team link event definitions (#1)
  .github/workflows/ci.yml
  apis/v1alpha1/team_link.pb.go
  apis/v1alpha1/v1alpha1.go
  go.mod
  go.sum
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix mapper comment
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

feat: interface exposed externally (#2)
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

feat: sync to github team implementation
  apis/v1alpha1/team_link.pb.go
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

address comments
  .github/workflows/ci.yml
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

address comments
  apis/v1alpha1/team_link.pb.go
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix lint
  pkg/github/synchronizer_test.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix lint
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

use the newest linters
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix nits
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix nits
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

feat: sync to github team implementation (#5)
  .github/workflows/ci.yml
  apis/v1alpha1/team_link.pb.go
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: interface renaming
  apis/v1alpha1/interface.go
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

chore: interface renaming (#10)
  apis/v1alpha1/interface.go
  apis/v1alpha1/team_link.pb.go
  protos/v1alpha1/team_link.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Fix mapper method
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

Fix mapper method (#11)
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

fix: interface methods and names
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

fix: interface methods and names (#12)
  apis/v1alpha1/interface.go
Owners: @abcxyz/go-readability

feat: sync method to handle list of github teams
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix nits
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

refactor test
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

fix nits
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

feat: sync method to handle list of github teams (#13)
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

chore: upgrate github lib version
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix: github permission for synchronizer
  pkg/github/synchronizer.go
Owners: @abcxyz/go-readability

chore: upgrate github lib version (#15)
  go.mod
  go.sum
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix: github permission for synchronizer (#16)
  pkg/github/synchronizer.go
Owners: @abcxyz/go-readability

fix: when invitation missing login but has email info
  pkg/github/synchronizer.go
  pkg/github/synchronizer_test.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability
