Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

it worked!!!!!!!
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

update
  pkg/github/tokensource.go
Owners: @abcxyz/go-readability

address comments
  pkg/cli/sync.go
  pkg/client/mapper.go
  pkg/client/reader.go
  pkg/client/writer.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

update
  pkg/github/client.go
  pkg/github/tokensource.go
Owners: @abcxyz/go-readability

revert unwanted change
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

add minty config
  .github/minty.yml
Owners: @abcxyz/infrastructure-team

update
  .github/minty.yml
Owners: @abcxyz/infrastructure-team

update
  .github/minty.yml
Owners: @abcxyz/infrastructure-team

feat: add minty config (#84)
  .github/minty.yml
Owners: @abcxyz/infrastructure-team

rename
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

rename minty.yml to minty.yaml (#85)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

remove todo
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

remove todo (#86)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

feat: create github readwriter, enable cli to sync between google groups and github
  pkg/cli/sync.go
  pkg/client/writer.go
  pkg/github/client.go
  pkg/github/teamreadwriter.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

test
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

revert unwanted change
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

update
  pkg/github/client.go
  pkg/github/tokensource.go
Owners: @abcxyz/go-readability

update
  pkg/github/tokensource.go
Owners: @abcxyz/go-readability

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

it worked!!!!!!!
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

lint
  go.mod
  pkg/client/writer.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

remove todo
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

address comments
  pkg/cli/sync.go
  pkg/client/mapper.go
  pkg/client/reader.go
  pkg/client/writer.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

test
  .github/workflows/test-run.yml
  mappings.textproto
  user_mappings.textproto
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/test-run.yml
Owners: @abcxyz/infrastructure-team

fix typo and small bugs
  pkg/client/mapper.go
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

update
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

fix: fix typo and small bugs (#87)
  pkg/client/mapper.go
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

feat: complete user cli journey, add github writer
  pkg/cli/sync.go
  pkg/client/config.go
  pkg/client/writer.go
  pkg/github/client.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
Owners: @abcxyz/go-readability

go mod tidy
  go.mod
Owners: @abcxyz/infrastructure-team

Support custom user agent in gitlab client
  pkg/gitlab/client.go
Owners: @abcxyz/go-readability

Support custom user agent in gitlab client (#89)
  pkg/gitlab/client.go
Owners: @abcxyz/go-readability

address comments
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability
