Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

feat: add protos (#74)
  apis/v1alpha3/group.pb.go
  apis/v1alpha3/user.pb.go
  buf.gen.yaml
  pkg/api/group.pb.go
  pkg/api/user.pb.go
  proto/group.proto
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: add GoogleGroupsToGithubMapper and support for creating google groups identity clients
  apis/v1alpha3/group.pb.go
  internal/tltypes.go
  mappings.textproto
  pkg/api/group.pb.go
  pkg/api/user.pb.go
  pkg/cli/sync.go
  pkg/client.go/mapper.go
  pkg/client.go/mapper_test.go
  pkg/client.go/reader.go
  pkg/github/teamreadwriter.go
  proto/group.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

add doc
  pkg/client.go/reader.go
Owners: @abcxyz/go-readability

lint
  pkg/client.go/mapper.go
  pkg/client.go/mapper_test.go
Owners: @abcxyz/go-readability

update
  pkg/client/mapper.go
  pkg/client/mapper_test.go
  pkg/client/reader.go
Owners: @abcxyz/go-readability

lint
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

lint
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

address comment
  internal/tltypes.go
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

feat: add GoogleGroupsToGithubMapper (#75)
  apis/v1alpha3/group.pb.go
  internal/tltypes.go
  mappings.textproto
  pkg/api/group.pb.go
  pkg/api/user.pb.go
  pkg/cli/sync.go
  pkg/client/mapper.go
  pkg/client/mapper_test.go
  pkg/client/reader.go
  pkg/github/teamreadwriter.go
  proto/group.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: create mapper from github to google groups
  pkg/client/mapper.go
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

address comments
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

feat: create mapper from github to google groups (#76)
  pkg/client/mapper.go
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

feat: user mapper
  apis/v1alpha3/user.pb.go
  go.mod
  go.sum
  pkg/client/mapper.go
  pkg/client/mapper_test.go
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix lint
  go.sum
  pkg/client/mapper.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

address comments
  apis/v1alpha3/user.pb.go
  pkg/client/mapper.go
  pkg/client/mapper_test.go
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

address comment
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

address comments
  pkg/client/mapper.go
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

address comment
  pkg/client/mapper.go
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

refactor
  pkg/client/googlegroup_github/mapper.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

append
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

feat: user mapper (#77)
  apis/v1alpha3/user.pb.go
  go.mod
  go.sum
  pkg/client/googlegroup_github/mapper.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix Unable to get user role type
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

fix: fix Unable to get user role type (#79)
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

lint
  pkg/client/googlegroup_github/mapper.go
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

refactor: move mapper constructor sub pakcages for each system
  pkg/client/googlegroup_github/mapper.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

oops
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

address comments
  pkg/client/googlegroup_github/mapper.go
Owners: @abcxyz/go-readability

address comment
  pkg/client/googlegroup_github/mapper.go
Owners: @abcxyz/go-readability

address comment
  pkg/client/googlegroup_github/mapper.go
Owners: @abcxyz/go-readability

update
  pkg/client/googlegroup_github/mapper.go
  pkg/client/googlegroup_github/mapper_test.go
Owners: @abcxyz/go-readability

update
  pkg/client/googlegroup_github/mapper.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
Owners: @abcxyz/go-readability

Add GitLab client provider to support dynamic credentials fetching
  pkg/gitlab/client.go
Owners: @abcxyz/go-readability

fix import order
  pkg/gitlab/client.go
Owners: @abcxyz/go-readability

address comment
  pkg/client/googlegroup_github/mapper.go
Owners: @abcxyz/go-readability

refactor: move mapper constructor to sub pakcages for each system (#78)
  pkg/client/googlegroup_github/mapper.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
  pkg/client/mapper_test.go
Owners: @abcxyz/go-readability

move KeyProvider to new 'credentials' package, use ClientProvider in gitlab groupreadwriter
  pkg/credentials/keyprovider.go
  pkg/github/tokensource.go
  pkg/gitlab/client.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
Owners: @abcxyz/go-readability

Add GitLab client provider to support dynamic credentials fetching (#80)
  pkg/credentials/keyprovider.go
  pkg/github/tokensource.go
  pkg/gitlab/client.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
Owners: @abcxyz/go-readability

feat: create github readwriter, enable cli to sync between google groups and github
  pkg/cli/sync.go
  pkg/client/writer.go
  pkg/github/client.go
  pkg/github/teamreadwriter.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

lint
  go.mod
  pkg/client/writer.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

remove todo
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability
