Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability

Abort sync if an error occurrs (#60)
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

Reduce calls
  pkg/groupsync/manytomanysyncer.go
Owners: @abcxyz/go-readability

Reduce calls (#61)
  pkg/groupsync/manytomanysyncer.go
Owners: @abcxyz/go-readability

fix: Treat usernames in a case-insensitive manner
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

fix: Treat usernames in a case-insensitive manner (#63)
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

Simplify set construction and comparison
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Simplify set construction and comparison (#64)
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Add GroupReader implementation for Google Groups
  go.mod
  go.sum
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

review feedback
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/go-readability

Add GroupReader implementation for Google Groups (#62)
  go.mod
  go.sum
  pkg/googlegroups/groupreader.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Refactor `SetMembers`
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

fix typo
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

add child team validation function
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Refactor `SetMembers` (#65)
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Add toggle to invite a user to the org
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

Add toggle to invite a user to the org (#66)
  pkg/github/teamreadwriter.go
Owners: @abcxyz/go-readability

ignore empty usernames
  pkg/groupsync/manytomanysyncer.go
Owners: @abcxyz/go-readability

switch to custom error
  pkg/groupsync/errors.go
  pkg/groupsync/manytomanysyncer.go
Owners: @abcxyz/go-readability

Update pkg/groupsync/errors.go
  pkg/groupsync/errors.go
Owners: @abcxyz/go-readability

fix lint errors
  pkg/groupsync/errors.go
Owners: @abcxyz/go-readability

ignore empty user IDs (#67)
  pkg/groupsync/errors.go
  pkg/groupsync/manytomanysyncer.go
Owners: @abcxyz/go-readability

Bugfix - return error in SetMembers for GitHub
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

Bugfix - return error in SetMembers for GitHub (#68)
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
Owners: @abcxyz/go-readability

Add GitLab client library
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Add GitLab support
  pkg/github/teamreadwriter.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/gitlab/pagination.go
  pkg/utils/utils.go
Owners: @abcxyz/go-readability

lint
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/gitlab/pagination.go
Owners: @abcxyz/go-readability

struct{}{} -> {} when possible
  pkg/gitlab/groupreadwriter_test.go
Owners: @abcxyz/go-readability

use WriteThruLookup for cache lookups, avoid unnecessary integer ID parsing, other PR comments
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/utils/utils.go
Owners: @abcxyz/go-readability

Add GitLab support (#69)
  go.mod
  go.sum
  pkg/github/teamreadwriter.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/gitlab/pagination.go
  pkg/utils/utils.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

feat: initial commit to create cli for teamlink
  cmd/tlctl/main.go
  go.mod
  go.sum
  pkg/cli/root.go
  pkg/cli/sync.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

go mod tidy
  go.sum
Owners: @abcxyz/infrastructure-team

fix typo
  pkg/cli/root.go
Owners: @abcxyz/go-readability

fix typo
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

address comments
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

address comments
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

feat: initial commit to create cli for teamlink (#73)
  cmd/tlctl/main.go
  go.mod
  go.sum
  pkg/cli/root.go
  pkg/cli/sync.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: add proto mappings
  apis/v1alpha3/group.pb.go
  apis/v1alpha3/user.pb.go
  buf.gen.yaml
  pkg/api/group.pb.go
  pkg/api/user.pb.go
  proto/group.proto
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix lint
  buf.gen.yaml
Owners: @abcxyz/infrastructure-team

fix typo
  proto/group.proto
Owners: @abcxyz/infrastructure-team

bufv2 generate
  apis/v1alpha3/group.pb.go
Owners: @abcxyz/go-readability
