Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability

Migrate gitlab client dependency
  go.mod
  go.sum
  pkg/gitlab/client.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/gitlab/pagination.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

go mod tidy
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

use v0.116.0 instead of latest, which requires go 1.23
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Migrate gitlab client dependency (#90)
  go.mod
  go.sum
  pkg/gitlab/client.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/gitlab/pagination.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

feat: add writer, refactor cli
  apis/v1alpha3/group.pb.go
  apis/v1alpha3/proto/config.pb.go
  apis/v1alpha3/proto/group.pb.go
  apis/v1alpha3/proto/mapping.pb.go
  apis/v1alpha3/user.pb.go
  buf.gen.yaml
  pkg/cli/sync.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
  pkg/common/googlegroup_github/mapper.go
  pkg/common/googlegroup_github/mapper_test.go
  pkg/common/group.go
  pkg/common/reader.go
  pkg/common/sync.go
  pkg/common/user.go
  pkg/common/writer.go
  pkg/github/client.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
  pkg/utils/textproto.go
  pkg/utils/textproto_test.go
  proto/config.proto
  proto/mapping.proto
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

mod tidy
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

downgrade golang
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

lint'
  pkg/common/sync.go
  pkg/github/tokensource.go
  pkg/utils/textproto.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability

more lint
  pkg/cli/sync.go
  pkg/common/sync.go
Owners: @abcxyz/go-readability

lint
  pkg/cli/sync.go
Owners: @abcxyz/go-readability

add more doc
  pkg/utils/textproto.go
Owners: @abcxyz/go-readability

one more doc
  pkg/github/tokensource.go
Owners: @abcxyz/go-readability

address comments
  pkg/common/googlegroup_github/mapper_test.go
  pkg/common/group.go
  pkg/common/writer.go
  pkg/github/tokensource.go
  pkg/utils/textproto.go
Owners: @abcxyz/go-readability

one more
  pkg/common/googlegroup_github/mapper_test.go
Owners: @abcxyz/go-readability

address comments
  apis/v1alpha3/proto/group.pb.go
  apis/v1alpha3/proto/mapping.pb.go
  pkg/common/googlegroup_github/mapper.go
  pkg/common/googlegroup_github/mapper_test.go
  pkg/common/group.go
  proto/group.proto
  proto/mapping.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

update
  pkg/utils/textproto.go
Owners: @abcxyz/go-readability

feat: add writer, refactor cli (#93)
  apis/v1alpha3/group.pb.go
  apis/v1alpha3/proto/config.pb.go
  apis/v1alpha3/proto/group.pb.go
  apis/v1alpha3/proto/mapping.pb.go
  apis/v1alpha3/user.pb.go
  buf.gen.yaml
  go.mod
  pkg/cli/sync.go
  pkg/client/googlegroup_github/mapper_test.go
  pkg/client/mapper.go
  pkg/common/googlegroup_github/mapper.go
  pkg/common/googlegroup_github/mapper_test.go
  pkg/common/group.go
  pkg/common/reader.go
  pkg/common/sync.go
  pkg/common/user.go
  pkg/common/writer.go
  pkg/github/client.go
  pkg/github/tokensource.go
  pkg/googlegroups/client.go
  pkg/utils/textproto.go
  pkg/utils/textproto_test.go
  proto/config.proto
  proto/mapping.proto
  proto/user.proto
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: add sync workflow
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

fix: update minty assert condition
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

fix: update minty assert condition (#96)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

feat: add sync workflow
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

feat: add sync workflow (#95)
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

feat: sync workflow
  .github/workflows/sync.yml
  mappings.textproto
  teamlink_config.textproto
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

test
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

test
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  teamlink_config.textproto
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

update
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

feat: update sync workflow to actually run sync (#97)
  .github/workflows/sync.yml
  mappings.textproto
  teamlink_config.textproto
Owners: @abcxyz/infrastructure-team

fix: update minty to only allow main branch trigger
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

format
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Update sync workflow to be only manual trigger
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team

fix: update minty to only allow main branch trigger (#98)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Update sync workflow to be only manual trigger (#99)
  .github/workflows/sync.yml
Owners: @abcxyz/infrastructure-team
