Repository abcxyz/team-link, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability, @abcxyz/typescript-readability, @abcxyz/java-readability

fix go test
  pkg/github/enterpriseuserwriter_test.go
Owners: @abcxyz/go-readability

fix: add scim schemas (#157)
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/scim.go
  pkg/github/scim_test.go
Owners: @abcxyz/go-readability

chore: Refactor utils.MapKeys to use Go generics
  pkg/utils/utils.go
Owners: @abcxyz/go-readability

chore: Refactor utils.MapKeys to use Go generics (#158)
  pkg/utils/utils.go
Owners: @abcxyz/go-readability

tmp fix: deactivate before reactivate
  pkg/github/enterpriseuserwriter.go
Owners: @abcxyz/go-readability

fix lint
  pkg/github/enterpriseuserwriter.go
Owners: @abcxyz/go-readability

fix log
  pkg/github/enterpriseuserwriter.go
Owners: @abcxyz/go-readability

tmp fix: deactivate before reactivate (#159)
  pkg/github/enterpriseuserwriter.go
Owners: @abcxyz/go-readability

feat: Add ability to assign enterprise roles to users via SCIM
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/scim.go
Owners: @abcxyz/go-readability

feat: Add github/EnterpriseRoleReadWriter to apply enterprise-wide role grants
  pkg/github/enterprisemembershipreadwriter.go
Owners: @abcxyz/go-readability

feat: Add roles field to SCIM user struct
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/scim.go
  pkg/github/scim_test.go
Owners: @abcxyz/go-readability

feat: Add roles field to SCIM user struct (#160)
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/scim.go
  pkg/github/scim_test.go
Owners: @abcxyz/go-readability

fix: Update Go module references to include v2 path
  cmd/tlctl/main.go
  go.mod
  pkg/cli/sync.go
  pkg/common/googlegroup_github/mapper.go
  pkg/common/googlegroup_github/mapper_test.go
  pkg/common/group.go
  pkg/common/reader.go
  pkg/common/sync.go
  pkg/common/user.go
  pkg/common/writer.go
  pkg/common/writer_test.go
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/metadata.go
  pkg/github/orgmembershipreadwriter.go
  pkg/github/orgmembershipreadwriter_test.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
  pkg/github/testutil.go
  pkg/github/tokensource.go
  pkg/gitlab/access_level.go
  pkg/gitlab/client.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/googlegroups/client.go
  pkg/googlegroups/groupreader.go
  pkg/groupsync/util.go
  pkg/utils/textproto.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

fix: Update Go module references to include v2 path (#161)
  cmd/tlctl/main.go
  go.mod
  pkg/cli/sync.go
  pkg/common/googlegroup_github/mapper.go
  pkg/common/googlegroup_github/mapper_test.go
  pkg/common/group.go
  pkg/common/reader.go
  pkg/common/sync.go
  pkg/common/user.go
  pkg/common/writer.go
  pkg/common/writer_test.go
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/metadata.go
  pkg/github/orgmembershipreadwriter.go
  pkg/github/orgmembershipreadwriter_test.go
  pkg/github/teamreadwriter.go
  pkg/github/teamreadwriter_test.go
  pkg/github/testutil.go
  pkg/github/tokensource.go
  pkg/gitlab/access_level.go
  pkg/gitlab/client.go
  pkg/gitlab/groupreadwriter.go
  pkg/gitlab/groupreadwriter_test.go
  pkg/googlegroups/client.go
  pkg/googlegroups/groupreader.go
  pkg/groupsync/util.go
  pkg/utils/textproto.go
  pkg/utils/textproto_test.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

feat: Support role updates and removals in EnterpriseUserWriter
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/scim.go
Owners: @abcxyz/go-readability

feat: Support role updates and removals in EnterpriseUserWriter (#162)
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
  pkg/github/scim.go
Owners: @abcxyz/go-readability

fix: Use MappedUser() instead of MappedUserID() in the ManyToX syncers
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
Owners: @abcxyz/go-readability

fix: Use MappedUser() instead of MappedUserID() in the ManyToX syncers (#163)
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
Owners: @abcxyz/go-readability

feat: Reduce work done for ManyToOne SyncAll
  go.mod
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/util.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

feat: Reduce work done for ManyToOne SyncAll (#164)
  go.mod
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/util.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

feat: Skip target group syncing if user set is empty
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/onetoonesyncer.go
Owners: @abcxyz/go-readability

feat: Skip target group syncing if user set is empty (#165)
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/onetoonesyncer.go
Owners: @abcxyz/go-readability

fix: abort syncer when group reader or user mapper return error
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/onetoonesyncer.go
  pkg/groupsync/onetoonesyncer_test.go
Owners: @abcxyz/go-readability

fix naming
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/onetoonesyncer.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/go-readability

fix: abort syncer when group reader or user mapper return error (#166)
  pkg/groupsync/manytomanysyncer_test.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
  pkg/groupsync/onetoonesyncer.go
  pkg/groupsync/onetoonesyncer_test.go
  pkg/groupsync/testutil.go
Owners: @abcxyz/go-readability

feat: sanity check for scim user deactivation
  pkg/github/enterpriseuserwriter.go
Owners: @abcxyz/go-readability

feat: sanity check for scim user deactivation
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
Owners: @abcxyz/go-readability

address comments
  pkg/github/enterpriseuserwriter.go
Owners: @abcxyz/go-readability

feat: Implement the fmt.Stringer interface for User and Group structs
  pkg/groupsync/groups.go
Owners: @abcxyz/go-readability

feat: Implement the fmt.Stringer interface for User, Group, and Mapping structs (#167)
  pkg/groupsync/groups.go
Owners: @abcxyz/go-readability

chore: Update logging in groupsync syncers to the Stringer interface
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/onetoonesyncer.go
  pkg/groupsync/util.go
Owners: @abcxyz/go-readability

feat: sanity check for scim user deactivation (#168)
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
Owners: @abcxyz/go-readability

chore: Update logging in groupsync syncers to the Stringer interface (#169)
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/onetoonesyncer.go
  pkg/groupsync/util.go
Owners: @abcxyz/go-readability

fix: Update Debug to Info logs in OneToOneSyncer
  pkg/groupsync/onetoonesyncer.go
Owners: @abcxyz/go-readability

fix: Update Debug to Info logs in OneToOneSyncer (#170)
  pkg/groupsync/onetoonesyncer.go
Owners: @abcxyz/go-readability

fix: user deactivation sanity check
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
Owners: @abcxyz/go-readability

address comment
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
Owners: @abcxyz/go-readability

fix: user deactivation sanity check (#171)
  pkg/github/enterpriseuserwriter.go
  pkg/github/enterpriseuserwriter_test.go
Owners: @abcxyz/go-readability

chore: reduce group reader apis calls from groupsyncers
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytoonesyncer.go
  pkg/groupsync/manytoonesyncer_test.go
Owners: @abcxyz/go-readability

refactor
  pkg/groupsync/manytomanysyncer.go
  pkg/groupsync/manytomanysyncer_test.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure owns all files
*    @abcxyz/infrastructure-team

# readability - remove if language not needed
*.go      @abcxyz/go-readability
*.tf      @abcxyz/terraform-readability
*.js      @abcxyz/typescript-readability
*.ts      @abcxyz/typescript-readability
*.java    @abcxyz/java-readability
